<footer class="site-footer">

  <container>
    <a href="#top" class="button back-to-top float-right"><icon class="fas fa-space-shuttle" data-fa-transform="rotate--90"></icon><span class="flame"><span class="flame-inner"></span></span> Back to Top!</a>
    <p class="link-bar no-margin-bottom">
      <icon class="fab fa-instagram"></icon> <a href="https://instagram.com/{{ site.instagram }}" target="_blank" class="link-twitter">Instagram</a>
      <icon class="fab fa-github"></icon> <a href="https://github.com/{{ site.github }}" target="_blank" class="link-tumblr">GitHub</a>
      <icon class="fab fa-facebook"></icon> <a href="https://facebook.com/{{ site.facebook }}" target="_blank" class="link-dribbble">Facebook</a>
    <!--  <icon class="fas fa-paint-roller"></icon> <a href="https://stat.ink/@pixely/spl2" target="_blank" class="link-deviantart">Splat Log</a>  -->
    </p>
    <p>
      <small>&copy; {{ site.title }}. All rights reserved. <a href="https://github.com/Aakash074/aakash074.github.io" target="_blank">This site is Open Source on GitHub!</a></small>
     
    </p>
  </container>
  
</footer>

<script src="{{ site.baseurl }}/scripts/site.js?{{ site.time | date: "%s%N" }}"></script>

{% if site.dev != true %}
<!-- Global site tag (gtag.js) - Google Analytics -->

{% endif %}
